body {
    height: 800px;
}

.container {
    margin: auto;
    padding-top: 150px;
    height: 400px;
    width: 400px;
}

.gridShell {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    border: 2px solid;
}

.horizontal {
    height: 50%;
    display: flex;
}

.square {
    width: 100%;
    border: 1px solid;
}