body {
    height: 800px;
}

.container {
    margin: auto;
    height: 550px;
    width: 550px;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.black,
.rainbow,
.shading,
.reset {
    width: 68px;
}

.grid-shell {
    height: 100%;
    border: 2px solid;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.horizontal {
    height: 50%;
    display: flex;
}

.square {
    width: 100%;
    border: 1px solid;
}

.slide-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
